.submit,
.load-more,
.reset {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  color: #093561;
  outline: 0;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.submit::after,
.load-more::after,
.reset::after {
  content: '';
  background-color: #dcbaff;
  border-radius: 5px;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
.reset::after {
  background-color: #ffbaba;
}

.submit:hover::after,
.load-more:hover::after,
.reset:hover::after {
  top: 0px;
  left: 0px;
}
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
}
