@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  padding-bottom: 50px;
}
form {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input,
button {
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

input {
  width: 300px;
}

button {
  padding-right: 15px;
  padding-left: 15px;
  background-color: pink;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4);
}

.load-more {
  display: block;
  margin: 0 auto;
}

.is-hidden {
  display: none;
}

.gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 50px;
}

.photo-card {
  width: 350px;
  overflow: hidden;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 250ms;

  &:hover {
    transform: scale(1.03);
  }

  .info {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;

    display: flex;
    gap: 10px;

    padding-inline: 15px;

    background-color: palevioletred;

    transition: opacity 300ms ease-in-out;
  }
  .info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}
